@font-face {
  font-family:Fuente;
  font-style:normal;
  font-weight:normal;
  src: url(../fuentes/Fuente.ttf);
}
body, h1, h2. h3, ul, li {
  margin: 0;
  padding: 0;
}

body {

  background:url(../images/Fondo_2.jpg) no-repeat center center;
  background-size: cover;
}


p.FuenteSH{
  font-family:Fuente;
  text-align: justify;
}

.epigrafe {
  font-size:15px;
}

.top {
  background-color: #00000070;
}

.texto1 {
  padding: 20px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #00000070;
}

.texto2 {
  padding: 20px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #00000070;
}

.subtitulo {
  font-family: Fuente;
  font-size: 40px;
  text-align: left;
  padding-left: 10px;
}

.subsubtítulo {
  font-family: Fuente;
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 10px;
}

.cont{
  background-color: #00000070;
  font-family:Fuente;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  overflow: hidden;

}

.menu {
  display: inline-block;
  padding: 10px;
  font-family: Fuente;
  font-size: 25px;
  color: #FFFFFF;
}
.menu:hover {
  display: inline-block;
  padding:10px;
  border: 1px #0000070;
  color: red;
  font-family: Fuente;
}
